src/main/resources/xsd/mdnmetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2018 The Holodeck B2B Team, Sander Fieten

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://holodeck-b2b.org/schemas/2018/04/as2/mdnmetadata"
    attributeFormDefault="unqualified"
    xmlns:tns="http://holodeck-b2b.org/schemas/2018/04/as2/mdnmetadata"
    xmlns:xml="http://www.w3.org/XML/1998/namespace">
    <xs:annotation>
        <xs:documentation xml:lang="en">This schema defines the XML structure to include the information from the MDN fields as XML in the content of a Holodeck B2B Receipt object. This allows storing of all MDN meta-data within the Receipt object so it can later be used notification to the back-end system or construction of the actual MDN.</xs:documentation>
    </xs:annotation>

    <xs:element name="AS2MDN">
        <xs:annotation>
            <xs:documentation>This element includes the meta-data from the MDN that cannot be directly stored in Holodeck B2B Receipt and Error message. Therefore these data are transformed into a simple XML document that can be stored as either the Receipt content or as ErrorDetails of the Error.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ReplyParameters" type="tns:ReplyParametersType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This optional element stores the parameters that are given by the Sender of the message to which the Signal Message is a reply and which specify how the MDN should be send back (sync or async) and how to sign it.
                            If the element is not included it means that an synchronous unsigned MDN was requested by the sender of the message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GeneralMessageInfo" type="tns:GeneralMessageInfoType">
                    <xs:annotation>
                        <xs:documentation>This element contains general meta-data of the MDN like the sender and receiver identifiers and indicators whether message attributes were included in the message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Fields" type="tns:MDNFieldsType">
                    <xs:annotation>
                        <xs:documentation>This element includes the meta-data from the MDN fields that cannot be stored directly in the Receipt or Error objects.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="Description" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Contains the human readable text from the MDN which is contained in the first part of the multipart/report message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="GeneralMessageInfoType">
        <xs:sequence>
            <xs:element minOccurs="0" name="MessageInfo">
                <xs:annotation>
                    <xs:documentation>This element contains indicators whether the meta-data contained in the MessageInfo element of the Receipt or Error are taken from the received AS2 message or whether they were generated by Holodeck B2B.
NOTE: When this element is not included it should be assumed that all meta-data was available in the received MDN.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element default="true" minOccurs="1" name="MessageIdInMessage"
                                type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Indicates whether the MessageId was available in the received AS2 MDN that is represented by this Signal.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element default="true" minOccurs="1" name="TimestampInMessage"
                                type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation>Indicates whether the Timestamp was available in the received AS2 MDN that is represented by this Signal.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:element minOccurs="1" name="OriginalMessageId" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Includes the values of the message-id as included in HTTP header of the AS2 message this Signal is a response to. </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="PartyInfo">
                <xs:annotation>
                    <xs:documentation>This element contains the party identifiers of the sender and (intended) receiver of the MDN. For Signals these are derived meta-data from the message that is acknowledged.
NOTE: As AS2 party identifiers do not support separate identification of the naming scheme there are no type attributes.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SenderId" type="tns:nonEmptyString"/>
                        <xs:element name="ReceiverId" type="tns:nonEmptyString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MDNFieldsType">
        <xs:sequence>
            <xs:element name="Reporting-UA" type="xs:string" minOccurs="0"/>
            <xs:element name="Original-Recipient" type="xs:string" minOccurs="0"/>
            <xs:element name="Final-Recipient" type="xs:string"/>
            <xs:element name="Disposition-Mode" type="tns:nonEmptyString"/>
            <xs:element name="Received-Content-MIC" minOccurs="0" type="tns:ContentMICType">
                <xs:annotation>
                    <xs:documentation>As the information contained in this element represent the "Received-Content-MIC" field of the MDN it only applies to Receipts.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentMICType">
        <xs:sequence>
            <xs:element name="Digest" type="xs:base64Binary"/>
            <xs:element name="HashingAlgorithm" type="tns:nonEmptyString"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReplyParametersType">
        <xs:sequence>
            <xs:element minOccurs="0" name="Signature">
                <xs:annotation>
                    <xs:documentation>This optional element indicates whether a signed MDN is requested by the sender of the original message, i.e. if the "Disposition-notification-options" http was included. The <code>required</code> indicates whether a signed is required or if it is allowed to send an unsigned MDN. As AS2 specification recommends this to be optional the default value of this attribute is false.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="HashingAlgorithm"
                            type="xs:string">
                            <xs:annotation>
                                <xs:documentation>This element can occur multiple times and indicates the preferred hashing algorithms to be used for signing the MDN as given in the "signed-receipt-micalg" parameter of the "Disposition-notification-options" header. The order of the elements also defines the order of preference with the first being the most preferred one. 
If no element is specified the MDN the hashing algorithm as specified in the P-Mode is used.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute default="false" name="required" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ReplyTo" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>This optional element includes the URL where the MDN should be send to, as specified by the sender of the original message in the "Receipt-Delivery-Option" header. 
If not included the MDN should be returned synchronously.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:whiteSpace value="preserve"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
